body {
    background: url("image/XLYZwN.gif");

}


section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    gap: 10px;
    margin-bottom: 2rem;
}

.setction--img {
    width: 500px;
}

.titulo2 {
    color: white;
    font-family: monospace;
    text-align: center;
    margin-bottom: 4rem;
    background-color: black;
    align-items: center;
    padding: 1em;
}




#container_one {
    color: white;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 5px;
    background: url('image/x498howiltl71.gif');
    background-position: top;
    background-size: 8rem;
    background-repeat: no-repeat;
    background-color: black;
    padding: 25px 20px 60px 20px;
    border-radius: 5px;
    border: 3px rgba(255, 255, 255, 0.233) solid;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 0 0 20px rgba(38, 255, 0, 0.7);
    border: 1px solid rgba(44, 176, 44, 0.856);

}

.img1 {
    margin-bottom: 15px;
}

.button {
    margin-top: 10px;
    color: white;
    background-color: red;
    padding: 5px;

}



.card {

    display: inline-block;
    width: 200px;
    background-color: rgb(33, 29, 35);
    color: white;
    font-family: monospace;
    padding: 30px 50px;
    border-radius: 5px;
    margin: 20px;



}



.card :nth-child(2) {

    text-align: center;
    font-size: 20px;
    border-bottom: 2px solid rgb(70, 67, 67);
    margin-top: 30px;
    margin-bottom: 30px;
    color: rgb(82, 198, 103);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.card img {

    width: 90%;
    border-radius: 50%;
    margin: 10px;

}

#pagination {
    display: flex;
    gap: 7px;
    justify-content: center;
    margin-top: 2rem;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.buttonse {
    color: white;
    background-color: rgb(32, 156, 61);
    padding: 5px 15px;
}

.buttonse:disabled {
    color: rgba(255, 255, 255, 0.549);
    background-color: rgba(0, 128, 0, 0.297);
}